# Target Binary
TARGET_BINARY=binary_name

# Remote server configuration
REMOTE_HOST=some_ip_addr
REMOTE_USER=some_user_name
REMOTE_PATH=some_folder_name

# Nginx
PORT=some_port_num
BLUE_PORT=some_port_num
GREEN_PORT=some_port_num

# SSH key 
SSH_KEY_PATH=some_path